{% extends "base.html" %}

{% block title %}Nora's Lunch{% endblock %}

{% block navbar %}
    <a href="{% url 'noraslunch:menu_list' %}">Inicio</a>
    <a class="active" href="{% url 'noraslunch:create_menu' %}">Crear menú del día</a>
{% endblock %}

{% block content %}

    <h2>Crear Menú del Día</h2>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <h2>Opciones</h2>
        {{ meals.as_p }}
        {# Todo: Implement dynamic formset with jquery #}
        <input type="submit" value="Guardar">
    </form>

{% endblock %}