{% extends "base.html" %}

{% block title %}Nora's Lunch{% endblock %}

{% block navbar %}
    <a href="{% url 'home' %}">Inicio</a>
    <a href="{% url 'create_menu' %}">Crear menú del día</a>
{% endblock %}

{% block content %}

    <h2>{{object.menu_date}}</h2>
    <ul>
        {% for meal in object.meal_set.all %}
            <li>Opción {{ forloop.counter }}: {{ meal.description }} <b>({{ meal.employeemeal_set.count }})</b></li>
        {% empty %}
            No results.    // No results case
        {% endfor %}
    </ul>

    <h2>Pedidos</h2>
    <table class="tg">
        <thead>
        <tr>
            <th class="tg-5agr">#</th>
            <th class="tg-5agr">Nombre</th>
            <th class="tg-5agr">Opción</th>
            <th class="tg-5agr">Especificación</th>
            <th class="tg-5agr"></th>
        </tr>
        </thead>
        <tbody>
        {% for order in meal_orders %}
            <tr>
                <td class="tg-5agr">{{ forloop.counter }}</td>
                <td class="tg-5agr">{{ order.employee_name }}</td>
                <td class="tg-5agr">{{ order.meal.description }}</td>
                <td class="tg-5agr">{{ order.customization }}</td>
                <td class="tg-5agr">__</td>
                {% empty %}
                <td class="tg-5agr">-</td>
                <td class="tg-5agr">-</td>
                <td class="tg-5agr">-</td>
                <td class="tg-5agr"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}