{% extends "noraslunch/base.html" %}

{% block title %}Nora's Lunch{% endblock %}

{% block navbar %}
    <a href="{% url 'index' %}">Inicio</a>
    <a href="{% url 'create_menu' %}">Crear menú del día</a>
{% endblock %}

{% block content %}

    <h2>24 de Mayo de 2020</h2>
    <ul>
        <li>Opción 1: Pastel de choclo, Ensalada y Postre <b>(20)</b></li>
        <li>Opción 2. Arroz con nugget de pollo, Ensalada y Postre <b>(6)</b></li>
        <li>Opción 3: Arroz con hamburguesa, Ensalada y Postre <b>(10)</b></li>
        <li>Opción 4: Ensalada premium de pollo y Postre <b>(16)</b></li>
    </ul>

    <h2>Pedidos</h2>
    <table class="tg">
        <thead>
        <tr>
            <th class="tg-5agr">Usuario</th>
            <th class="tg-5agr">Nombre</th>
            <th class="tg-5agr">Opción</th>
            <th class="tg-5agr">Especificación</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="tg-5agr">B</td>
            <td class="tg-5agr">B</td>
            <td class="tg-5agr">B</td>
            <td class="tg-5agr">B</td>
        </tr>
        <tr>
            <td class="tg-5agr">C</td>
            <td class="tg-5agr">C</td>
            <td class="tg-5agr">C</td>
            <td class="tg-5agr">C</td>
        </tr>
        <tr>
            <td class="tg-5agr">D</td>
            <td class="tg-5agr">D</td>
            <td class="tg-5agr">D</td>
            <td class="tg-5agr">D</td>
        </tr>
        </tbody>
    </table>

{% endblock %}